/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.spinner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.bg-body-tertiary {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 100px;
  padding: 0;
}

@media (max-width: 768px) {
  .bg-body-tertiary {
    height: auto;
  }
}

@media (max-width: 768px) {
  .text {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .bg-body-tertiary .navbar-nav {
    width: 100%;
    text-align: center;
  }

  .navbar-toggler {
    margin-right: 0;
  }
}

.outer-container {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: 620px;
  overflow: hidden;
  padding-left: 0px;

}

.part1 {
  float: left;
  width: 50%;
  height: 620px;

}

.part1-1 {
  float: left;
  width: 30%;
  height: 620px;

}

.part1-2 {
  float: left;
  width: 70%;
  height: 620px;

}

.our-text h2 {
  margin-top: 101px;
  color: #000;
  text-align: start;
  font-family: 'sans-serif';
  font-size: 60px;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 1.5px;
  margin-left: 140px;
}

.our-text hr {
  width: 100px;
  height: 3px;
  background-color: black;
  opacity: 1;
  border: none;
  margin-left: 140px;
}

.our-text p {
  color: #414141;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  margin-left: 140px;
  margin-top: 49px;
}

@media (max-width: 767px) {
  .our-text h2 {
    margin-top: 20px;

    font-size: 40px;

    margin-left: 20px;

  }

  .our-text hr {
    margin-left: 20px;


  }

  .our-text p {
    margin-left: 20px;

    margin-top: 30px;

    text-align: start;
  }
}

body .lets-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;

}

.lets-button1 {
  padding: 0;
  width: 62px;
  height: 62px;
  border: #000;
  background-color: #000;
  margin-left: 141px;
}

.lets-button2 {
  padding: 0;
  width: 200px;
  height: 62px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #FFF;
  border: none;
  background: -webkit-gradient(linear, left top, right top, color-stop(6.5%, #9FD685), color-stop(142.5%, #F9DD03));
  background: -o-linear-gradient(left, #9FD685 6.5%, #F9DD03 142.5%);
  background: linear-gradient(90deg, #9FD685 6.5%, #F9DD03 142.5%);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
}

body .home-container {
  padding: 0;
  margin: 0;
}

.homepic-image {
  width: 649px;
  height: calc(var(--vh, 1vh) *  87);
  background-size: cover;
}

@media (max-width: 768px) {
  .home-container .row{
    margin-right: 30px;
    margin-left:10px;
  }
  .our-text,
  .homepic-image {
    width: calc(100% - 20px); /* Adjusted width */
    margin: 30px 10px 60px; /* Top, right, bottom, left */
    height: 300px;
  }

  .lets-buttons-container {
    width: 65%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;

  }

  .homepic-image {
     

  }
}

.part2 {
  float: right;
  width: 50%;
  height: 620px;


}

.rec24 {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: 620px;
  overflow: hidden;


}

.workpic-image {
  width: 649px;
  height: 620px;
  background-size: cover;
}

@media (max-width: 768px) {
  .work-container {}

  .work-container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px;
  }

  .workipic-image {
    /* height: auto; */
    height: calc(var(--vh, 1vh) *  87);
    margin-bottom: 20px;

  }

  .work-grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) ;
    grid-template-columns: repeat(2, 1fr);

    /* grid-template-rows: repeat(2, 1fr); */
    /* margin-right: 20px; */
    /* height: auto; */
  }

  .work-grid-container .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

  }
}


.workipic-image {
  width: 571px;
  height: calc(var(--vh, 1vh) *  87);
  background-size: cover;
  background-position: center;
}

.bgimgleftdiv {
  float: left;
  width: 30%;
  height: 620px;
}

.bgimgrightdiv {
  float: right;
  width: 70%;
  height: 620px;
}

.howwe-text h2 {
  padding-top: 65px;
  color: #000;
  text-align: start;
  font-family: 'sans-serif';
  font-size: 60px;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 1.5px;
  position: relative;
}

.howwe-text hr {
  width: 100px;
  height: 3px;
  background-color: black;
  opacity: 1;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.bgimgtopdiv p {
  color: #414141;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}

.bgimgbottomdiv {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

.more-button {
  margin-top: 40px;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2.07px;
  text-transform: uppercase;
  width: 200px;
  height: 62px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: none;
  background: -webkit-gradient(linear, left top, right top, color-stop(6.5%, #9FD685), color-stop(142.5%, #F9DD03));
  background: -o-linear-gradient(left, #9FD685 6.5%, #F9DD03 142.5%);
  background: linear-gradient(90deg, #9FD685 6.5%, #F9DD03 142.5%);
}

body .work-grid-container {
  margin-top: 55px;
  margin-left: 79px;
}

@media (max-width: 768px) {
  body .work-grid-container {
    margin-top: 20px;
    margin-left: -20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.work-grid-row {

  display: -ms-grid;

  display: grid;

  width: 410px;

  gap: 0px;

}

@media (max-width: 768px) {
  .work-grid-row {
    height: auto;
    width: 100%;

    -ms-grid-columns: (100%) ;

    grid-template-columns: repeat(1, 100%);

  }

}

.work-grid1 {
  position: relative;
  width: 205px;
  height: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  /* order: 1; */
}

.work-grid1 hr {
  width: 100px;
  height: 3px;
  background-color: black;
  opacity: 1;
  border: none;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

@media (max-width: 767px) {
  .work-grid1 {
    text-align: center;
  }

  .work-grid1 hr {
    margin-top: 10px;
  }
}

.work-grid2 {
  width: 205px;
  height: 205px;

  background: -webkit-gradient(linear, left top, left bottom, from(#9FD685), to(#F9DD03));

  background: -o-linear-gradient(top, #9FD685 0%, #F9DD03 100%);

  background: linear-gradient(180deg, #9FD685 0%, #F9DD03 100%);
}

.work-grid2 h4 {
  color: #414141;
  margin-top: 44px;
  margin-left: 29px;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 100% */
}

.work-grid2 h6 {
  color: rgba(255, 255, 255, 0.50);
  font-family: Poppins;
  font-size: 100px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  /* 72% */
  text-align: right;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.work-grid3 {
  width: 205px;
  height: 205px;
  /* order: 3; */
  background: -webkit-gradient(linear, left top, left bottom, from(#E5E5E5), to(#FFF));
  background: -o-linear-gradient(top, #E5E5E5 0%, #FFF 100%);
  background: linear-gradient(180deg, #E5E5E5 0%, #FFF 100%);
}

.work-grid3 h4 {
  margin-top: 44px;
  margin-left: 29px;
  color: #414141;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 100% */
}

.work-grid3 h6 {
  color: #E5E5E5;
  font-family: Poppins;
  font-size: 100px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  /* 72% */
  text-align: right;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.work-grid4 {
  width: 205px;
  height: 205px;
  /* order: 4; */
  background: -webkit-gradient(linear, left top, left bottom, from(#E5E5E5), to(#FFF));
  background: -o-linear-gradient(top, #E5E5E5 0%, #FFF 100%);
  background: linear-gradient(180deg, #E5E5E5 0%, #FFF 100%);
}

.work-grid4 h4 {
  margin-top: 44px;
  margin-left: 29px;
  color: #414141;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 100% */
}

.work-grid4 h6 {
  color: #E5E5E5;
  font-family: Poppins;
  font-size: 100px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  /* 72% */
  text-align: right;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.work-grid1 hr {
  width: 100px;
  height: 3px;
  background-color: black;
  opacity: 1;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}

.work-button {
  border: thin;
  text-align: center;
  margin-left: 170px;
  width: 200px;
  height: 62px;
  margin-top: 25px;
  background: -webkit-gradient(linear, left top, right top, color-stop(6.5%, #9FD685), color-stop(142.5%, #F9DD03));
  background: -o-linear-gradient(left, #9FD685 6.5%, #F9DD03 142.5%);
  background: linear-gradient(90deg, #9FD685 6.5%, #F9DD03 142.5%);
}

.work-button h6 {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  /* 88.889% */
  letter-spacing: 2.07px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .work-button {
    margin-left: 20px;

    margin-right: auto;
    width: 65%;

    margin-top: 15px;

  }

}



.overlay-text p {
  color: #414141;
  margin-left: 139px;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  margin-left: 169px;
  margin-top: 40px;
  line-height: 24px;
  /* 171.429% */
}

.overlay-text h2 {
  margin-top: 101px;
  color: #000;
  font-family: 'Poppins';
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 1.5px;
  margin-left: 170px;
}

.overlay-text hr {
  width: 100px;
  height: 3px;
  background-color: black;
  opacity: 1;
  border: none;
  margin-left: 170px;
  margin-top: 20px;

}

@media (max-width: 768px) {
  .overlay-text p {
    margin-left: 20px;
    margin-top: 20px;
  }

  .overlay-text h2 {
    margin-left: 20px;
  }

  .overlay-text h2 {
    margin-top: 20px;
    font-size: 40px;
    margin-left: 20px;
  }

  .overlay-text hr {
    margin-left: 20px;
  }
}

.serv-container {
  margin: 0;
  padding: 0;
}


.service-part1 {
  float: left;
  width: 44%;
  height: 620px;

}

.service-part2 {
  float: left;
  width: 56%;
  height: 620px;

  position: relative;
  overflow: hidden;
}

.se-part-left {
  float: left;
  width: 45%;
  height: 620px;

}



.service-part2-image-container {
  margin-top: 56px;

  min-width: 100%;
  height: 407px;
  overflow: hidden;

}

body .service-container {
  margin: 0;
  padding: 0;
}

.se-part-right {
  height: auto;
  background-size: cover;
}


ul li {
  margin-bottom: 10px;
  cursor: pointer;
  color: #777;
}

ul li.focused {
  color: #D1E45A;
  font-weight: bold;
}

.se-part-right hr {
  width: 100px;
  height: 3px;
  background-color: black;
  opacity: 1;
  border: none;
  margin-left: 250px;
}

.se-part-right h2 {
  padding-top: 50px;
  color: #000;
  text-align: start;
  font-family: Poppins;
  font-size: 60px;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 1.5px;
  margin-left: 250px;
}

.se-part-right ul {
  margin-top: 20px;
  color: #414141;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.48px;
  margin-left: 250px;
}

@media screen and (max-width: 768px) {
  .se-part-right {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .se-part-right h2 {
    margin-left: 20px;
    padding-top: 20px;
    font-size: 40px;
  }

  .se-part-right hr {
    margin-left: 20px;
  }

  .se-part-right ul {
    margin-left: 20px;
  }

  .service-Container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.carousel-container {
  text-align: center;
  margin-top: 100px;
  padding: 0;


}

@media (max-width : 768px) {
  .carousel-container h3 {
    font-weight: 10px;
  }

  .carousel-container p {
    font-size: 6px;
  }
}

.scroller-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.scroll-img {
  width: 10%;
  height: 100%;

}

.service-part2-image-container-text h2 {
  margin-top: 50px;
  margin-left: 90px;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.96px;
  color: #000;
  text-align: start;
  font-family: Poppins;
  font-style: normal;
  line-height: 1.2;
}

.service-part2-image-container-text p {
  margin-top: 44px;
  margin-left: 90px;
  color: #000;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.image-transition {
  position: relative;
}

.service-button {
  position: absolute;
  bottom: 50px;
  left: 10px;
}


.service-both-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

}

.image-transition {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: -webkit-transform 500ms ease-out;
  transition: -webkit-transform 500ms ease-out;
  -o-transition: transform 500ms ease-out;
  transition: transform 500ms ease-out;
  transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
}

.serv-btn-color {
  margin: 0px 1px;
  border: none;
  background-color: #F9DD03;
}

.work-pic {
  width: 100%;
  height: 100%;
}

.grid1 hr {
  width: 100px;
  height: 3px;
  background-color: black;
  opacity: 1;

  border: none;
  float: right;
  margin-top: 112.5px;
}

.grid2 {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#9FD685), to(#F9DD03));
  background: -o-linear-gradient(top, #9FD685 0%, #F9DD03 100%);
  background: linear-gradient(180deg, #9FD685 0%, #F9DD03 100%);
}

.grid2 p {
  color: #414141;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-top: 51px;
  margin-left: 51px;
}

.grid2 h5 {
  color: rgba(255, 255, 255, 0.50);
  font-family: Poppins;
  font-size: 100px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  /* 72% */
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}

.grid3 {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#E5E5E5), to(#FFF));
  background: -o-linear-gradient(top, #E5E5E5 0%, #FFF 100%);
  background: linear-gradient(180deg, #E5E5E5 0%, #FFF 100%);
}

.grid3 p {
  color: #414141;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-top: 51px;
  margin-left: 51px;
}

.grid3 h5 {
  color: #E5E5E5;
  font-family: Poppins;
  font-size: 100px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  /* 72% */
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}

.re5 {
  width: 262px;
  height: 62px;
  margin-top: 200px;


}

.ourcustomer-part1 h2 {
  color: #000;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 50px;
  /* 125% */
  letter-spacing: 1.2px;
  margin-top: 100px;
  margin-left: 140px;
}

.ourcustomer-part1 hr {
  width: 100px;
  height: 3px;
  background-color: black;
  opacity: 1;
  border: none;
  margin-left: 140px;
  margin-top: 36px;
}

.ourcustomer-part1 p {
  color: #414141;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  margin-left: 140px;
  margin-top: 49px;
}

.ourcustomer-button {
  border: thin;
  width: 200px;
  height: 62px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 140px;
  margin-top: 25px;
  background: -webkit-gradient(linear, left top, right top, color-stop(6.5%, #9FD685), color-stop(142.5%, #F9DD03));
  background: -o-linear-gradient(left, #9FD685 6.5%, #F9DD03 142.5%);
  background: linear-gradient(90deg, #9FD685 6.5%, #F9DD03 142.5%);
}

.ourcustomer-button h6 {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  /* 88.889% */
  letter-spacing: 2.07px;
}

.ourcustomer-part2 {
  margin-top: 100px;

}

.image-fit-contain {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.image-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.images-container {
  margin-top: 50px;
  margin-left: 259px;
  margin-right: 259px;
  width: 760px;
  height: 505px;
}

@media (max-width : 768px) {
  .ourcustomer-part1 h2 {
    font-weight: 40px;
    margin-top: 20px;
    margin-left: 20px;
  }

  .ourcustomer-part1 hr {
    margin-left: 20px;
  }

  .ourcustomer-part1 p {
    margin-left: 20px;
  }

  .ourcustomer-button {
    margin-left: 20px;

    margin-right: auto;
    width: 65%;
    margin-top: 15px;
  }

  .ourcustomer-part2 .row {
    margin-left: 10px;
    margin-right: 10px;
  }

  .ourcustomer-part2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }


}


.cars-row {
  width: 250px;
  height: 250px;
}

.cars-image {
  width: 250px;
  height: 250px;
  border-radius: 250px;
}

.location {
  height: 72px;
  width: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.company {
  height: 72px;
  width: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .contactus-container {
  margin-bottom: 141px;
  padding: 0;
  margin: 0;
}

@media (max-width: 767px) {
  .contactus-container {
    margin-bottom: auto;
  }
}

.team-container {
  text-align: center;
}

.ourteam-text h2 {
  color: #000;
  font-family: Poppins;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 1.5px;
  margin-top: 30px;
}

.ourteam-text hr {
  width: 100px;
  height: 3px;
  background-color: black;
  opacity: 1;
  border: none;
  margin: auto;
}

.s-container {
  max-width: 800px;
  margin: 0 auto;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.carousel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(30% - 10px);
          flex: 0 0 calc(30% - 10px);
  margin-right: 10px;
}

.card:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(40% - 10px);
          flex: 0 0 calc(40% - 10px);
}

.card-body {
  background-color: #f8f9fa;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #343a40;
}



.imageslider-container {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
}

.image-caption {
  text-align: center;
  margin-top: 10px;
}



.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide {
  width: 90%;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide .card__article {
  width: 100%;
  margin: auto;
  text-align: -webkit-center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-slide img {

  width: 70%;
  height: 6%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;

}

.swiper-container {

  margin-top: 50px;
  margin-bottom: 50px;
}

.swiper-wrapper {
  border-style: solid;
  border-color: 1px black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-column {
  height: 400px;
  display: 'flex';
  justify-Content: 'center';
  align-Items: 'center';

}

.team-card {
  width: 200px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.middle-card {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.slider-indicator {
  margin-top: 100px;
}

.imageslider-container {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
}

.custom-indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.custom-indicators span {
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.custom-indicators span.active {
  background-color: #333;
}




.indicator-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-indicator {
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  margin: 0 5px;
  /* Adjust the margin as needed */
}

.carousel-indicator.active {
  background-color: #fff;
}


.image-container img:nth-child(2) {
  width: 250px;
  height: 250px;
}

.images-container .carousel-indicators li {
  background-color: black;
  overflow: visible;
}

.contactus {
  height: 72px;
  width: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.map-image {
  margin-top: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;

}

@media (max-width: 767px) {
  .map-image {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-top: auto;
  }
}

@-webkit-keyframes animateTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes animateTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes animateLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes animateLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes animateRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes animateRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}


.lets-button1 {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.lets-button1.zoom {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.animate-top {
  -webkit-animation: animateTop 2s ease-in-out;
          animation: animateTop 2s ease-in-out;
}

.animate-left {
  -webkit-animation: animateLeft 3s ease-in-out;
          animation: animateLeft 3s ease-in-out;
}

.animate-right {
  -webkit-animation: animateRight 4s ease-in-out;
          animation: animateRight 4s ease-in-out;
}

.contact-wstc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 20px;
}

.form-input {
  display: block;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .three-columns {
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact-wstc {
    padding-top: 20px;
  }

}

.contact-wstc h6 {
  color: #9F9F9F;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;

}

.fbg-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fbg-text h6 {
  color: #9F9F9F;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 45px;

}

.margin-icons {
  margin-right: 17px;
}

.arrow {
  width: 62px;
  height: 62px;

  background-color: aqua;
}

.in-arrow {
  width: 50px;
  height: 50px
}

.re23 {
  float: right;
  width: 649px;
  height: 620px;
  padding: 10px;
  background-color: green;

}

.centered-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.outer-div {
  width: 1140px;
  height: 620px;
  top: 100px;
  left: 139px;

}

.centered-nav a {
  text-decoration: none;
  margin: 0 5px;

}

.top-nav {
  width: 1280px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 100px;

}

@media (max-width: 767px) {

  .top-nav {
    width: 100%;
  }
}

.logo {
  height: 80px;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}


.text {

  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;

}

.images {

  width: 649px;
  height: 620px;
  top: 100px;
  left: 630px;

}

.imagescustomer1 {
  max-width: 100%;
  height: auto;
}

.serviceimage {
  max-width: 100%;
  height: auto;

}

.our {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-align: center;
}


.home {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-align: center;
  color: #D1E45A;
}

.space span {
  margin-right: 10px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nameheading {
  text-align: center;
  padding: 30px;
}

.domain {
  text-align: center;
}

.round {
  border-radius: 50%;
  max-width: 100%;
  height: 80%;
  overflow: hidden;
  padding: 30px;
}

.spic {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 0;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}

.tpic {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 0;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}

.mpic {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 0;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}

.column1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 0;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.column2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 0;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
}

.columncustomer1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 0;

  padding: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.columncustomer2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 0;

  padding: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.workcolumn1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 0;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
}

.workcolumn2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 0;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}


.map {

  -o-object-fit: cover;

     object-fit: cover;
  width: 100%;
  height: 100%;
}

.mid1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 0;

  padding: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;

}


* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--white-color);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 320px) {
  .card__data {
    padding: 1rem;
  }
}


@media screen and (min-width: 768px) {
  .card__content {
    margin-inline: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}


@media screen and (min-width: 1120px) {
  .card__container {
    max-width: 1120px;
  }

  .swiper-button-prev {
    left: -1rem;
  }

  .swiper-button-next {
    right: -1rem;
  }
}

.s-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  border-style: solid;
  border-color: 1px black;
}

.card {
  &__container {
    padding-block: 5rem;
  }

  &__content {
    margin-inline: 1.75rem;
    border-radius: 1.25rem;
    overflow: hidden;
  }

  &__article {
    width: 300px;
    border-radius: 1.25rem;
    overflow: hidden;
  }

  &__image {
    position: relative;
    background-color: var(--first-color-light);
    padding-top: 1.5rem;
    margin-bottom: -.75rem;
  }

  &__data {
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    z-index: 10;
  }

  &__img {
    width: 180px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
  }

  &__shadow {
    width: 200px;
    height: 200px;
    background-color: var(--first-color-alt);
    border-radius: 50%;
    position: absolute;
    top: 3.75rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    -webkit-filter: blur(45px);
            filter: blur(45px);
  }

  &__name {
    font-size: var(--h2-font-size);
    color: var(--second-color);
    margin-bottom: .75rem;
  }

  &__description {
    font-weight: 500;
    margin-bottom: 1.75rem;
  }

  &__button {
    display: inline-block;
    background-color: var(--first-color);
    padding: .75rem 1.5rem;
    border-radius: .25rem;
    color: var(--dark-color);
    font-weight: 600;
  }
}

/* Swiper class */
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--second-color);
  display: none;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination-bullet {
  background-color: hsl(212, 32%, 40%);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--second-color);
}

.card__img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
}